# Core modules (mandatory)
jupyterlite-core==0.4.0
jupyterlab~=4.2.4
notebook~=7.2.1

# Python kernel (optional)
jupyterlite-pyodide-kernel==0.4.1

# Dependencies for tutorial
numpy=="1.26.4"
scipy=="1.12.0"
scikit-learn=="1.4.2"
pandas=="2.2.0"
matplotlib=="3.5.2"
